{% extends "base.html" %}

{% block title %}CIE10{% endblock %}

{% block heading %} <h2>Borrar CIE10</h2> {% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <p>Esta seguro de eliminar el "{{ object }}"?</p>
    <input style="float:right" type="submit" class="btn btn-primary btn-fw" value="Eliminar"></input>
</form>
<a href="{% url 'cie10-list' %}"><input style="float:left" type="button" class="btn btn-primary btn-fw" value="Volver"></input></a>
{% endblock %}
